<!-- Pricing Start -->
<section class="section bg-light" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 style=" color: #502EFF;font-style: Graphie; " class="title mb-3">Affordable options, tailored to your needs</h3>
          <p class="text-muted font-size-15">All services include discovery, vetting creators as well as managing and measuring your campaign.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="pricing-box rounded text-center p-4">
          <div class="pricing-icon-bg my-4">
            <i class="mdi mdi-account h1"></i>
          </div>
          <h4 class="title mb-3">Basic</h4>
          <h1 class="font-weight-bold mb-0"><b><sup class="h4 mr-2 font-weight-bold">₹</sup>3000</b></h1>
          <p class="text-muted font-weight-semibold">PER 5 INFLUENCER</p>
          <ul class="list-unstyled pricing-item mb-4">
            <li class="text-muted">We’ll discover and vet 5 creators as well as manage and measure your campaign.</li>
            <!-- <li class="text-muted">Onlinespace: 500MB</li>
            <li class="text-muted">Support: Yes</li> -->
          </ul>
          <a href="javascript: void(0);" class="btn btn-outline-primary pr-btn">Buy Now</a>
          <div class="mt-4">
            <div class="hero-bottom-img">
              <img src="assets/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-box rounded text-center active p-4">
          <div class="pricing-icon-bg my-4">
            <i class="mdi mdi-account-multiple h1"></i>
          </div>
          <h4 class="title mb-3">Standard</h4>
          <h1 class="font-weight-bold mb-0"><b><sup class="h4 mr-2 font-weight-bold">₹</sup>6000</b></h1>
          <p class="text-muted font-weight-semibold">PER 15 INFLUENCER</p>
          <ul class="list-unstyled pricing-item mb-4">
            <li class="text-muted">We’ll discover and vet 15+ creators as well as manage and measure your campaign.</li>
            <!-- <li class="text-muted">Onlinespace: 1GB</li>
            <li class="text-muted">Support: Yes</li> -->
          </ul>
          <a href="javascript: void(0);" class="btn btn-primary pr-btn">Buy Now</a>
          <div class="mt-4">
            <div class="hero-bottom-img">
              <img src="assets/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-box rounded text-center p-4">
          <div class="pricing-icon-bg my-4">
            <i class="mdi mdi-account-group h1"></i>
          </div>
          <h4 class="title mb-3">Premium</h4>
          <h1 class="font-weight-bold mb-0"><b><sup class="h4 mr-2 font-weight-bold">₹</sup>12000</b></h1>
          <p class="text-muted font-weight-semibold">PER 35 INFLUENCER</p>
          <ul class="list-unstyled pricing-item mb-4">
            <li class="text-muted">We’ll discover and vet over 30 creators as well as manage and measure your campaign.</li>
            <!-- <li class="text-muted">Onlinespace: 1.5GB</li>
            <li class="text-muted">Support: Yes</li> -->
          </ul>
          <a href="javascript: void(0);" class="btn btn-outline-primary pr-btn">Buy Now</a>
          <div class="mt-4">
            <div class="hero-bottom-img">
              <img src="assets/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pricing End -->
